// Colors //
$mainBlue: #57D0AF;

// Fonts //
$mainFont: "Raleway", sans-serif;
$styleFont: "baron_neueregular", sans-serif;
$styleFontBold: "baron_neuebold", sans-serif;
$styleFontBlack: "baron_neueblack", sans-serif;

// Tooling //
$testBorder1: 5px dashed #59E259;
$testBorder2: 5px dashed red;