@import '_variables.scss';

@font-face {
   font-family: 'baron_neueblack';
   src: url('./fonts/baron_neue_black-webfont.woff2') format('woff2'),
        url('./fonts/baron_neue_black-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'baron_neuebold';
   src: url('./fonts/baron_neue_bold-webfont.woff2') format('woff2'),
        url('./fonts/baron_neue_bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'baron_neueregular';
   src: url('./fonts/baron_neue-webfont.woff2') format('woff2'),
        url('./fonts/baron_neue-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

body {
   overflow-x:hidden;
   height: 100%;
}

html { 
   height: 100%;
   font-size: 10px;
   font-family: $mainFont;
   text-align: center;
   scroll-behavior: smooth;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

h1 {
   font-size: 6.1rem;
}

h2 {
   font-size: 4.8rem;
}

h3 {
   font-size: 3.1rem;
}

h4 {
   font-size: 2.5rem;
}

h5 {
   font-size: 2rem;
}

h6 {
   font-size: 1.6rem;
}

a {
   text-decoration: none;
   color: white;
   display: inline-block;
}

a:hover, a:active {
   color: $mainBlue;
}

a:visited, a:link {
   color: white;
}

#particles-js {
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 0;
}
.navBar a:after {    
   background: none repeat scroll 0 0 transparent;
   bottom: 0;
   content: "";
   display: block;
   height: 2px;
   left: 50%;
   position: absolute;
   background: $mainBlue;
   transition: 0.3s ease 0s, right 1s ease 0s;
 }

 a:hover:after { 
   width: 100%; 
   left: 0; 
 }
 @media screen and (max-height: 300px) {
    ul {
       margin-top: 40px;
    }
 }

#landing {
   background: url(../img/landing-backdrop.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
   width: 100vw;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   .navBar {
      position: fixed;
      top: 0;
      left: 0;
      color: white;
      font-family: $styleFont;
      width: 100%;
      border-top: 6px solid $mainBlue;
      background-color: rgba(0, 0, 0, 0);
      transition: ease 1s;
      z-index: 3;
      letter-spacing: 2px;
      text-shadow:
          0.07em 0 black,
          0 0.07em black,
          -0.07em 0 black,
          0 -0.07em black;
      .navButtons {
         width: 40%;
         ul { 
            padding: 0; 
            list-style: none; 
            display: table;
            text-align: center;
          }
          li { 
            display: table-cell; 
            position: relative; 
            padding: 20px 0;
          }
          a {
            margin: 0 5em; // !Only underline the text?
          }
      }
      .navName {
         position: absolute;
         transform: translateY(-140%);
         right: -50%;
         padding-right: 0.5%;
         transition: ease 0.6s;
         height: 29px;
      }
   }
   .landingName {
      font-family: $styleFontBold;
      position: absolute;
      bottom: 15%;
      letter-spacing: 2px;
      text-shadow:
          0.07em 0 rgba(0, 0, 0, 0.8),
          0 0.07em rgba(0, 0, 0, 0.8),
          -0.07em 0 rgba(0, 0, 0, 0.8),
          0 -0.07em rgba(0, 0, 0, 0.8);
      
      h1 {
         color: white;
         line-height: 90%;
      }
      h4 {
         padding-top: 1%;
         color: #E2E2E2;
         opacity: 0.8;
      }
   }
}

.content {
   z-index: 1;
   background: white;
   .titleText {
      border-bottom: $mainBlue solid 6px;
      text-transform: uppercase;
      font-family: $styleFontBlack;
      display: inline-block;
      margin: 5% 0% 5% 0%;
   }
   #about { 
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $styleFont;
      text-transform: lowercase;
      .bio {
         display: flex;
         flex-direction: row;
         width: 80vw;
         text-align: left;
         line-height: 22px;
         letter-spacing: 1.5px;
         img {
            max-height: 100%;
            max-width: 300px;
         }
         p {
            font-size: 1.4rem;
            margin-left: 7%;
            color: #909090;
         }
      }
   }
   #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10%;
      .contactGroup {
         width: 100%;
         font-family: $styleFont;
         letter-spacing: 1.1px;
         text-transform: lowercase;
         display: grid;
         justify-content: center;
         grid-template-columns: repeat(3, 300px);
         grid-gap: 8%;
         grid-template-areas:
            "a b c";
         .contactBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #5d5d5d;
         }
         .linkedin {
            grid-area: a;
         }
         .github {
            grid-area: b;
         }
         .email {
            grid-area: c;
         }
         .contactCircle {
            background-color: black;
            border-radius: 100% 100% 100% 100%;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid $mainBlue;
            margin-bottom: 7%;
            z-index: 2;
         }
      }
   }

   #experience {
      .projectGroup {
         display: grid;
         justify-content: center; 
         grid-gap: 20px;
         grid-template-areas:
            "d b"
            "c a";
         img {
            width: 100%;
            height: 100%;
         }
         .projectBox {
            position: relative;
            z-index: 0;
         }
         .ksGrooming {
            grid-area: a;
         }
         .murf {
            grid-area: b;
         }
         .lolTime {
            grid-area: c;
         }
         .acherus {
            grid-area: d;
         }
         .projectOverlay {
            opacity: 0;
            position: absolute;
            top: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;;
            background: rgba(0, 0, 0, 0.8);
            transition: ease 2ms;
            color: white;
            font-family: $styleFont;
            text-transform: lowercase;
            line-height: 2.5em;
            border: 10px solid $mainBlue;
            transition: ease 0.3s;
            p {
               font-size: 1.4rem;
            }
            h4 {
               color: $mainBlue;
               font-family: $styleFontBlack;
               margin-bottom: 1%;
            }  
            .overlayIcons {
               display: flex;
               justify-content: center;
               a {
                  margin: 5px 15px;
               }
            } 
         }
         .projectOverlay:hover {
            opacity: 1;
         }
      }
   }
   #skills {
      .skillsMain{
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         background: $mainBlue;
         z-index: 0;
      }
      .skillBox {
         display: flex;
         flex-direction: row;
         justify-content: center;
         height: 100%;
         background: white;
         z-index: 1;
         border: 1px solid $grey;
         img {
            size: 80%;
         }
      }
      .frontEnd, .sourceControl, .uiUx {
         border-right: 1px solid $grey;
      }
      .skillGroup {
         display: flex;
         flex-direction: column;
         align-items: center;
         border-collapse: collapse;
         width: 300px;
         padding: 5% 0% 10% 0%;
         ul {
         list-style-type: none;
         font-size: 1.5rem;
         line-height: 28px;
         margin-top: 5%;
         }
      }
      img {
         width: 20%;
         margin: 10% 0px 10% 0px;
         height: auto;
      }
   }

   #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10%;
      .contactGroup {
         width: 100%;
         font-family: $styleFont;
         letter-spacing: 1.1px;
         text-transform: lowercase;
         display: grid;
         justify-content: center;
         grid-template-columns: repeat(3, 300px);
         grid-gap: 8%;
         grid-template-areas:
            "a b c";
         .contactBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #5d5d5d;
         }
         .linkedin {
            grid-area: a;
         }
         .github {
            grid-area: b;
         }
         .email {
            grid-area: c;
         }
         .contactCircle {
            background-color: black;
            border-radius: 100% 100% 100% 100%;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid $mainBlue;
            margin-bottom: 7%;
            z-index: 2;
         }
      }
   }
}

.footer {
   background: $mainBlue;
   color: black;
   display: flex;
   letter-spacing: 1.5px;
   flex-direction: column;
   align-items: center;
   .footerContact {
      background: black;
      width: 60%;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 40px;
      transform: translateY(-50%);
      color: white;
      h6 {
         width: 20%;
      }
      .chatButton {
         font-size: 1.6rem;
         background-color: black;
         color: white;
         padding: 20px;
         text-shadow: none;
         border-color: $mainBlue;
         border-style: solid;
         border-radius: 30px;
         cursor: pointer;
         outline: none;
      }
      a:hover .chatButton {
         background-color: $mainBlue;
         color: black;
      }
   }
   .footerBlurb {
      width: 25%;
      padding: 20px;
      font-family: $styleFont;
      margin-bottom: 1%;
   }
   p {
      font-size: 1.4rem;
      padding: 20px;
   }
}

// ! Media Queries ! //
@media only screen and (max-width: 600px) {
   h6 {
      font-size: 1rem;
   }
   h1 {
      font-size: 500%;
   }
   #landing {
      .navBar {
         width: 100vw;
         .navButtons {
            width: 100%;
            .skillsHeadButton {
               display: none;
            }
            ul {
               display: grid;
               grid-auto-flow: column;
            }
            li {
               display: inline-block;
            }
            a {
               margin: 0;
            }
         }
         .navName {
            display: none;
         }
      }
   }
   .content {
      width: 100vw;
      #about {
         margin: auto;
         margin-top: 20%;
         .bio {
            width: 100vw;
            flex-direction: column;
            img {
               width: 80%;
               height: 110%;
               margin: auto;
               padding-top: 5%;
               padding-bottom: 10%;
            }
            p {
               width: 80vw;
               margin: auto;
               text-align: center;
            }
         }
      }
      #experience {
         margin: auto;
         margin-top: 20%;
         .projectGroup {
            grid-template-areas:
            "d"
            "b"
            "c"
            "a";
            width: 90vw;
            margin: auto;
         }
      }
      #contact {
         margin-top: 20%;
         .contactGroup {
            grid-template-areas:
            "a"
            "b"
            "c";
            grid-template-columns: 0;
            .contactBox {
               margin-top: 25px;
            }
            .contactCircle {
               margin-bottom: 10px;
            }
            h6 {                      
               font-size: 1.6rem;
            }
         }
      }
      #skills {
         display: none;
      }
   }
   .footer {
      margin-top: 50%;
      background: black;
      color: white;
      .footerContact {
         width: 100%;
         border-radius: 0;
         flex-direction: column;
         transform: translateY(10%);
         h6 {
            width: 75%;
            margin: 6% 0;
         }
      }
      .footerBlurb {
         width: 90%;
         padding: 50px 0;
      }
   }   
}